/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 70%;
  margin: 1em auto;
  font-family: "Neutral Regular 4", Helvetica, Arial, sans-serif; }

img {
  display: block;
  width: 100%; }

a {
  color: #333;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn, .product .price {
  background: #dcdbd6;
  border: 1px solid #333;
  display: inline-block;
  padding: .5em .5em .25em .5em;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: "Neutral Regular 4", Helvetica, Arial, sans-serif;
  color: #333;
  text-decoration: none;
  position: relative; }
  .btn:hover, .product .price:hover {
    cursor: pointer;
    background-color: #c5c3ba;
    text-decoration: none; }
  .btn a, .product .price a {
    text-decoration: none; }

.replaced-select {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  z-index: 10; }

.btn--collection {
  position: absolute;
  left: 0;
  bottom: -.5em;
  transform: translateX(-50%); }

.btn--collection-right {
  right: 0;
  left: auto;
  transform: translateX(50%); }

.intro {
  width: 30%;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.collection-nav {
  position: absolute;
  bottom: 0;
  width: 100%; }

.cabinet {
  overflow: hidden;
  position: relative; }

.cabinet-top {
  padding-top: 7%;
  margin-top: -3.5%;
  background: #fff url("../imgs/cabinet-top.jpg") no-repeat top center;
  background-size: 100%; }
  .cabinet-top.cabinet--inside, .cabinet--inside .cabinet-top {
    padding-top: 6.5%;
    background: #fff url("../imgs/cabinet-inside-top.jpg") no-repeat top center;
    background-size: 100%; }

.cabinet-body, .cart-table .cabinet-body {
  margin-top: -1px;
  background: #fff url("../imgs/cabinet-body.jpg") repeat-y top center;
  background-size: 100%; }
  .cabinet--inside .cabinet-body {
    background-image: url("../imgs/cabinet-inside-body.jpg"); }
  .cabinet--cart .cabinet-body {
    background-image: url("../imgs/cabinet-cart-body.jpg"); }

.cabinet-bottom {
  background: #fff url("../imgs/cabinet-bottom.jpg") no-repeat bottom center;
  background-size: 100%;
  height: 0;
  position: absolute;
  width: 100%;
  padding-top: 6.3%;
  bottom: 0; }
  .cabinet--inside .cabinet-bottom {
    background-image: url("../imgs/cabinet-inside-bottom.jpg"); }
  .cabinet--cart .cabinet-bottom {
    background-image: url("../imgs/cabinet-cart-bottom.jpg"); }

.woocommerce-message, .notification {
  position: absolute;
  width: 100%;
  z-index: 5; }

.notification-content {
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center; }
  .notification-content .wc-forward:after {
    content: ''; }

.product-list {
  overflow: hidden; }

.product {
  float: left;
  width: 32%;
  height: 0;
  margin-left: 1%;
  padding-top: 25%;
  position: relative; }

.product-thumbnail {
  width: 100%;
  position: absolute;
  bottom: 12%;
  z-index: 1; }
  .product-thumbnail img {
    width: 65%;
    height: auto;
    margin: 0 auto; }

.product .price {
  position: absolute;
  z-index: 2;
  right: 12%;
  bottom: 12%; }

.single-product:after {
  content: '';
  display: block;
  clear: both; }

.single-product-image {
  width: 45%;
  height: 0;
  padding-top: 50%;
  position: relative;
  z-index: 1;
  float: left;
  margin-left: 10%;
  margin-right: 15%; }
  .single-product-image img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 7.5%; }

.single-product-thumbnails {
  position: absolute; }

.single-product-info {
  padding-top: 2em; }
  .single-product-info p, .single-product-info .btn, .single-product-info .product .price, .product .single-product-info .price {
    margin-bottom: 1em; }

.single-product-bottom-nav {
  margin-top: 1em; }
  .single-product-bottom-nav a {
    display: block;
    margin-bottom: 1em; }
  .single-product-bottom-nav .btn, .single-product-bottom-nav .product .price, .product .single-product-bottom-nav .price {
    display: inline-block; }

.single-product-quantity {
  display: none; }

.cart-table {
  width: 100%; }
  .cart-table th {
    text-align: left; }
  .cart-table td {
    vertical-align: middle;
    padding: 1.5em; }
  .cart-table .cabinet-body {
    border: 0;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: block; }
  .cart-table .quantity {
    margin: 0; }
  .cart-table .actions {
    text-align: right; }

.cart-product-remove {
  width: 3%; }

.cart-product-thumbnail {
  width: 26%; }
  .cart-product-thumbnail img {
    margin: 0 auto;
    width: 90%; }

.cart-product-note {
  width: 35%; }

.cart-footer {
  width: 100%;
  padding-top: 24%;
  position: relative;
  height: 0; }

.cart-total, .cart-calculator, .cart-actions {
  position: absolute;
  top: 0;
  width: 27%;
  left: 1.5%;
  padding: 2%; }

.cart-calculator {
  left: 33%; }

.cart-actions {
  left: 66%; }
