.cabinet {
	overflow: hidden;
	position: relative;
}

.cabinet-top {
	padding-top: 7%;
	margin-top: -3.5%;
	background: transparent url('../imgs/cabinet-top.jpg') no-repeat top center;
	background-size: 100%;

	&.cabinet--inside, .cabinet--inside & {
		padding-top: 6.5%;
		background: transparent url('../imgs/cabinet-inside-top.jpg') no-repeat top center;
		background-size: 100%;
	}

	&.cabinet--cart, .cabinet--cart & {
		padding-top: 6.5%;
		background: transparent url('../imgs/cabinet-cart-top.png') no-repeat top center;
		background-size: 100%;
	}

}

.cabinet-body {
	margin-top: -5px;
	background: transparent url('../imgs/cabinet-body.jpg') repeat-y top center;
	background-size: 100%;

	.cabinet--inside & {
		background-image: url('../imgs/cabinet-inside-body.jpg');
	}

	.cabinet--cart & {
		background-image: url('../imgs/cabinet-cart-body.png');
	}
}

.cabinet-bottom {
	background: transparent url('../imgs/cabinet-bottom.jpg') no-repeat bottom center;
	background-size: 100%;
	height: 0;
	position: absolute;
	width: 100%;
    padding-top: 6.3%;
    margin-top: -5px;
	bottom: 0;

	.cabinet--inside & {
		background-image: url('../imgs/cabinet-inside-bottom.jpg');
	}

	.cabinet--cart & {
		background-image: url('../imgs/cabinet-cart-bottom.png');
	}
}

.cabinet-box {
	background: transparent url('../imgs/cabinet-box.jpg') no-repeat center center;
	background-size: contain;
}


.cabinet--checkout {
    &.cabinet-top {
    	background-image: url('../imgs/cabinet-checkout-top.jpg');
    }

    .cabinet-body {
    	background-image: url('../imgs/cabinet-checkout-body.jpg');
    }

    .cabinet-bottom {
    	background-image: url('../imgs/cabinet-checkout-bottom.jpg');
    }
}
