.cart-table {
	margin-top: 5%;
	width: 100%;

	th {
		text-align: left;
	}

	td {
		vertical-align: middle;
		padding-bottom: 1em;
	}

	.quantity {
		margin: 0;
	}

	.actions {
		border-top: 1px solid #333;
		padding-top: 1em;
		text-align: right;
	}
}

.cart-product-thumbnail {
	width: 40%;
	
	img {
		margin: 0 auto;
		width: 80%;
	}
}
