.cart-table {
	width: 100%;

	th {
		text-align: left;
	}

	td {
		vertical-align: middle;
		padding: 1.5em;
	}

	.cabinet-body {
		@extend .cabinet-body;
		border: 0;
		background-repeat: no-repeat;
		background-position: bottom center;
		display: block;
	}


	.quantity {
		margin: 0;
	}

	.actions {
		text-align: right;
	}
}

.cart-product-remove {
	width: 3%
}

.cart-product-thumbnail {
	width: 26%;
	
	img {
		margin: 0 auto;
		width: 90%;
	}
}

.cart-product-note {
	width: 35%;
}

.cart-footer {
	width: 100%;
	padding-top: 24%;
	position: relative;
	height: 0;
}

.cart-total, .cart-calculator, .cart-actions {
	position: absolute;
	top: 0;
	width: 27%;
	left: 1.5%;
	padding: 2%;
}

.cart-calculator {
	left: 33%
}

.cart-actions {
	left: 66%;
}
