.page {
    position: relative;
}

.cart-table {
    width: 100%;
    margin: 0 auto;

    .cabinet-body {
        @extend .cabinet-body;
        border: 0;
        background-repeat: no-repeat;
        background-position: top center;
        display: block;
    }

    .quantity {
        margin: 0;
        position: absolute;
        top: 45%;
        right: 6%;
    }

    .actions {
        text-align: right;
    }
}

.cart-product {
    margin-bottom: -1px;
}

.cart-product-content {
    width: 33%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.cart-product-subtotal {
    position: absolute;
    right: 6%;
    top: 65%;
}

.cart-product-remove {
    width: 3%
}

.cart-product-thumbnail {
    width: 80%;
    padding-bottom: 15%;

    img {
        margin: 0 auto;
        width: 70%;
        position: relative;
        z-index: 10;
    }
}

.cart-product-note {
    width: 75%;
    position: absolute;
    top: 0;
    right: -90%;
}

.cart-footer {
    width: 100%;
    padding-top: 30.4%;
    position: relative;
    height: 0;
    margin-top: -6.5%;
}

.cart-total, .cart-calculator, .cart-actions {
    position: absolute;
    top: 47%;
    width: 18%;
    left: 6.5%;
    padding: 2%;
    text-align: center;
}

.cart-total {
    text-align: center;
    p {
        padding: .5em .5em .25em .5em;
    }
}

.cart-calculator {
    left: 34%;
    top: 28%;
    width: 28%;

    p {
        margin-top: 1em;
    }

}

.cart-actions {
    left: 72%;
    text-align: center;
    padding: 4px 15px;

    .btn {
        margin: 0 auto;
        border: 0;
        width: 94%;
        height: 40px;
    }
}

.cart-empty-text {
    height: 300px;
    padding: 10%;
    text-align: center;
}

.cart-empty {
    .cabinet-bottom {
      height: 35%
    }
}
