body {
	width: 70%;
	margin: 1em auto;
	font-family: $main-font;
}

img {
	display: block;
	width: 100%;
}

a {
	color: #333;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.btn {
	background: #dcdbd6;
	border: 1px solid #333;
	display: inline-block;
	padding: .5em;
	margin: 0;
	font-size: 12px;
	line-height: 1;
	font-family: $main-font;
	color: $text-color;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		background-color: darken(#dcdbd6, 10%);
		text-decoration: none;
	}
}

.btn--collection {
	position: absolute;
	left: -20%;
	bottom: -.5em;
}

.btn--collection-right {
	right: -20%;
	left: auto;
}
