.product-list {
	overflow: hidden;
}

.product {
	float: left;
	width: 32%;
	height: 0;
	margin-left: 1%;
	padding-top: 24%;
	position: relative;
}

.product-thumbnail {
	width: 100%;
	position: absolute;
	bottom: 12%;
	z-index: 1;
	
	img {
		width: 66%;
		height: auto;
		margin: 0 auto;
	}
}

.product .price {
	@extend .btn;
	position: absolute;
	z-index: 2;
	right: 3%;
	bottom: 12%;
}
